.dropdown .dropdown-toggle {
  position: relative;
  text-align: center;
}

#dropdown_margin {
  margin-bottom: 20px;
}

#button_stop {
  background-color: red;
  margin: 20px;
}

#button_go {
  background-color: green;
  margin: 20px;
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
    padding-top: 15px;
  }
}

#title_currentTime {
  text-align: center;
}

#button_send {
  background-color: var(--bs-yellow);
  margin: 20px;
}

#button_email {
  background-color: var(--bs-yellow);
  margin: 20px;
}

#button_text {
  background-color: var(--bs-purple);
  margin: 20px;
}

.textBox {
  margin-left: auto;
  margin-right: auto;
}

.myTextBox {
  margin-left: auto;
}

#reportBox {
  padding: 10px;
}

#commentBox {
  padding: 10px;
}

#Row_Manual {
  padding-block: 25px;
}

.manual_Input {
  width: 75px;
}

input[type="date"] ::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#service-year {
  height: 250px;
  max-width: auto;
  margin: 0 auto;
  --labels-size: 4rem;
}

#service-year th {
  color: black;
  transform: rotate(-90deg);
  font-size: 0.8rem;
}

#service-year tbody td {
  margin-inline-start: 1px;
  margin-inline-end: 2px;
}

#greenbutton {
  color: black;
  background:rgb(144, 218, 149) !important;
}

#redbutton {
  color: black;
  background: rgb(239, 150, 150) !important;
}

#bluebutton {
  color: black;
  background: rgb(144, 170, 248) !important;
}

#goldbutton,
#submitTimeBtn {
  color: black;
  background: gold !important;
}

#purplebutton {
  color: black;
  background: rgb(179, 0, 179) !important;
}

.digiclock {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
  color: #477bff;
  font-size: 25px;
  /* font-family: 'Righteous', cursive; */
  letter-spacing: 7px;
}

table {
  table-layout: fixed;
  width: 100%;
}

td, th {
  text-align: center;
  font-size: 0.8rem;
}

th {
  background-color:#477bff;
  color: azure;
}

