@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.leftborder  { grid-area: 1 / 1 / 5 / 2; }
.rightborder { grid-area: 1 / 5 / 5 / 6; }
.mainbody    { grid-area: 1 / 2 / 5 / 5; }
.footer      { grid-area: 5 / 1 / 6 / 6; }
 
h1 h2 h3 h4 h5 {
  text-align: left;
}
.list {
  color: #555;
  font-size: 16px;
  padding: 0 !important;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
  /* font-family: courier, monospace; */
  border: 1px solid #dedede;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
  transition:         all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 85%;
  margin-left: 40px;
}

mark {
  background-color:yellow;
}

tr:nth-child(odd) {
  background-color: #62aff3;
}

tr:nth-child(even) {
  background-color: #8abfee;
}

img {
  width: 150px;
  max-width: 100%;
  height: auto;
}

td {
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
}

a {
  text-decoration: none !important;
}